* {
  background-color: #282c34;
  color: white;
  font-size: calc(12px + 2vmin);
}

.App {
  text-align: center;
}


.login {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);

}

.loginForm {
  display: flex;
  flex-direction: column;
}


.loginFormLabel {
  display: flex;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.loginInput {
  margin-left: auto;
}

.submit {
  font-size: calc(10px + 2vmin);
  background-color: #4f5596;
  border: none;
  color: white;
  padding: 8px 8px;
  text-decoration: none;
  cursor: pointer;
}

.inputError {
  margin-left: auto;
  border: 2px solid red;
}

.error {
  color: red;
  font-size: (8px + 2vmin);

}

.App-link {
  color: #61dafb;
}

.product-list {
  display: grid;
  grid-template-columns: auto auto auto;
}




.logout{
  display: flex;

}
.logoutButton{
  margin-left: auto;
  background-color: #9f1111b0;
}